<div class="detail-container">

    <img src="{{objImage.webformatURL}}">

    <span>
        <label>Contributor</label>
        <span>{{objImage.user}}</span>
    </span>
    <span>
        <label>Tags</label>
        <span>{{objImage.tags}}</span>
    </span>
    <span>
        <label>Views</label>
        <span>{{objImage.views}}</span>
    </span>
    <span>
        <label>Likes</label>
        <span>{{objImage.likes}}</span>
    </span>
    <span>
        <label>Full Image Size</label>
        <span>{{objImage.imageHeight}}px high x {{objImage.imageWidth}}px wide</span>
    </span>

</div>

